{{!-- This is the default template for all standard pages. --}}
<article class="prose dark:prose-invert max-w-none mx-auto">
    <h1>{{contentFile.frontmatter.title}}</h1>
    
    {{#if contentFile.frontmatter.description}}
        <p class="lead text-xl text-gray-500 dark:text-gray-400">{{contentFile.frontmatter.description}}</p>
    {{/if}}

    <hr />

    {{{markdown contentFile.content}}}
</article>