{{! page.hbs }}
<article>
    <h1>{{contentFile.frontmatter.title}}</h1>
    {{{markdown contentFile.content}}}

    {{#if collectionItems}}
        <hr/>
        {{! The helper now implicitly has the context it needs }}
        {{{render_collection}}}
    {{/if}}
</article>