{{! /public/views/list/template.hbs }}
{{!-- 
  This template is now simpler. It only receives `items` and `itemLayoutId`.
  It is no longer responsible for rendering the pager.
--}}

<div class="view-list">
  {{#if items}}
    <div class="item-container">
      {{#each items}}
        {{{render_layout_for_item this layout=../itemLayoutId}}}
      {{/each}}
    </div>
  {{else}}
    <p class="i gray">There are no items to display in this view.</p>
  {{/if}}
</div>