{{! /public/views/list/template.hbs }}
{{!-- This template receives `items` (the queried data) and `config` (the view's settings) --}}

<div class="view-list">
  {{#if items}}
    <div class="item-container">
      {{#each items}}
        {{!-- 
          This is the powerful part. We call our custom helper, passing `this`
          (the current item in the loop) as the context, and telling it
          which layout to use by looking up the `item_layout` from the view's config.
        --}}
        {{{render_layout_for_item this layout=../config.item_layout}}}
      {{/each}}
    </div>
  {{else}}
    <p class="i gray">There are no items to display in this view.</p>
  {{/if}}
</div>