{{! /public/views/list/template.hbs }}
{{!-- This template receives `viewItems` and the page's `frontmatter.view` config. --}}

<div class="view-list">
  {{#if viewItems}}
    <div class="item-container">
      {{#each viewItems}}
        {{!-- 
          This is the most powerful part. We use the built-in `lookup` helper
          to dynamically get the name of the partial to render, which was chosen
          by the user in the view configuration (e.g., "post-card").

          For this to work, the themeEngine must register all 'collection-item'
          layouts as global Handlebars partials.
        --}}
        {{> (lookup ../contentFile.frontmatter.view 'item_layout') this}}
      {{/each}}
    </div>
  {{else}}
    <p class="i gray">There are no items to display in this view.</p>
  {{/if}}

  {{!-- Future extensibility: Pagination controls would be rendered here --}}
  <div class="pagination">
    {{!-- ... --}}
  </div>
</div>