<article class="prose">
  <header><h2><a href="/{{this.slug}}">{{frontmatter.title}}</a></h2><p class="text-muted">{{formatDate this.frontmatter.date}}</p></header>
  {{{markdown content}}}
</article>