<div class="prose">
  <h1>{{collection.title}}</h1>
  <p>{{collection.description}}</p>
</div>
<div class="post-list">
  {{#each collection.items}}
    {{> cardPost this}}
  {{/each}}
</div>
{{{> pagination}}}