<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
{{> head}}
<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200 antialiased font-sans">
    
    <div x-data="{ isMobileMenuOpen: false }" class="flex flex-col min-h-screen">
        
        {{> header}}

        <main class="flex-grow max-w-4xl mx-auto container px-4 py-8 sm:py-12">
            {{{body}}}
        </main>

        {{> footer}}

    </div>
</body>
</html>