<li class="{{#if this.isActive}}active{{/if}} {{#if this.children}}has-dropdown{{/if}}">
  <a href="{{this.href}}" title="{{this.label}}">{{this.label}}</a>
  {{#if this.children}}
    <ul class="dropdown">
      {{#each this.children}}
        {{> _nav-item .}}
      {{/each}}
    </ul>
  {{/if}}
</li>